body {
  width: 1024px;
  margin: auto;
}
[ng-cloak] {
  display: none;
}
routed-view,[routed-view] {
  border: 1px solid #ccc;
  padding: .2em;
}
.half-screen {
  float: left;
  width: 48%;
  margin: .5em;
}
.clearfix {
  clear: both;
}
.menu {
  display: block;
  list-style: none;
  position: relative;
  clear: both;
  margin: 0;
  padding: 0;
}
.menu li {
  float: left;
}
.menu li a {
  display: inline-block;
  padding: .5em 1em;
  margin: 0 .3em;
  cursor: pointer;
  color: #fff;
  background-color: #0094ff;
  border-radius: 5px 5px  0 0;
}
