<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Component Routing</title>
    <link href="site.css" rel="stylesheet" />
</head>
<body ng-app="ComponentRouting" >
    <h1>Component Routing</h1>
    
    <div class="half-screen" ng-controller="DemoCtrlr">
        <ul class="menu">
            <li><a ng-click="setView('view1')">View #1</a></li>
            <li><a ng-click="setView('view2')">View #2</a></li>
        </ul>

        <div class="clearfix"></div>

        <div ml-view></div>
    </div>

    <div class="half-screen" ng-controller="DemoCtrlr">
        <ul class="menu">
            <li><a ng-click="setView('view1')">View #1</a></li>
            <li><a ng-click="setView('view2')">View #2</a></li>
        </ul>

        <div class="clearfix"></div>

        <div ml-view></div>
    </div>

    <script src="scripts/jquery-2.1.0.min.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/mlView.js"></script>
</body>
</html>
